@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #333333;
  padding-bottom: 77px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

.textZadachi {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
  margin-bottom: 31px;
  margin-top: 77px;
}

.mainDiv {
  max-width: 1170px;
  margin: 0 auto;
}

.divWithColumns {
  display: flex;
  justify-content: space-between;
}